body {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #ffdab9;
}



.pfp_mom {
    border-radius: 100%;
    width: 300px;
}

.imagn {
    width: 200px;
    border-radius: 30px;
    margin: 5px;
}

.mensagem {
    position: relative;
    background-color: #f8ad9d;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid #f08080;
    box-shadow: 0 4px 10px rgba(180, 100, 100, 0.2);
}



.btn-confetes :hover{
    border: 2px solid black;
}

#confetes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.confete {
    position: absolute;
    width: 10px;
    height: 20px;
    top: -30px;
    animation: cair linear forwards;
}

@keyframes cair {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0;
    }
}
